@model demoGIT.Models.Producto
@{
    ViewBag.Title = "Index";
}
<h1>Productos</h1>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.nombreproducto)
    @Html.TextBoxFor(model => model.nombreproducto)
    <br />
    @Html.LabelFor(model => model.descripcion)
    @Html.TextBoxFor(model => model.descripcion)
    <br />
    @Html.LabelFor(model => model.precioproducto)
    @Html.TextBoxFor(model => model.precioproducto)
}

